.Display-Container{
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:solid;
    /* border-color: rgb(36, 149, 241); */
    border-color: #5d88de;
    margin: 1rem;
}

.Display-Container img{
    align-items: center;
    width: 10vh;
    height: 10vw;
}

